.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq h2{
    background-color: #c4dcc5;
    cursor: pointer;
    user-select: none;
}

.faq h2:hover{
    background-color: #7bb07d;
    transition: background 0.3s;
}

.faq p {
    background-color: #83c0e8;
    display: none;
}
h1{
    text-align: center;
}
.faq * {
    margin: 0;
    width: 50%;
    padding: 25px
}

.visible {
    display: block !important;
}